@model IEnumerable<QuestionsApp.WebUI.ViewModels.QuestionViewModel>
@foreach (var question in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left col-md-2">
                    @if (question.UserProfile != null)
                {
                        <img src=@question.UserProfile.PhotoUrl class="media-object" style="width: 60px">
                    }
                    else
                    {
                        <img src="../../Content/images/default-avatar.png" class="media-object" style="width: 60px">
                    }

                </div>
                <div class="media-body col-md-10">
                    <h4 class="media-heading">
                        @if (question.UserProfile != null)
                        {
                            @question.UserProfile.FirstName
                            @question.UserProfile.FamilyName

                        }
                        else
                        {
                            @question.AuthorName
                        }
                    </h4>
                    <p>@question.QuestionDescription</p>
                    @*@Ajax.ActionLink("Like","LikesInc",)*@
                </div>
            </div>
        </div>
    </div>
}
